PORT=5000
NODE_ENV=development

ABDM_ENV=SBX

ABDM_CLIENT_ID=
ABDM_CLIENT_SECRET=

ABDM_SESSION_URL=https://live.abdm.gov.in/api/hiecm/gateway/v3/sessions
ABDM_DRUG_REGISTRY_BASE_URL=https://drugregistrysbx.abdm.gov.in/drug-registry/v1
ABDM_TOKEN_SAFETY_SECONDS=60

CORS_ORIGINS=*
